html{
	height: 100%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

a{
	margin-left: 0;
}

body{
	height: 100%;	
}

#side-bar{
	height: 100%;
	float: left;
	display: inline-block;
	width: 300px;
}


#tree{
	margin-left: 305px;
	margin-top: 4em;
	text-align: center;
	overflow-x: scroll;
}

#tree > .subtree{
	display: inline-block;
}

#tree .subtree{
	display: table-cell;
	color: black;
	transition: all 0.3s;
	padding: 0.5em 1em 0.5em 1em;
	border: 1px solid #DDD;
	border-radius: 4px;
}

#tree .leaf{
	padding: 0;
}

#tree .leaf .subtree-root{
	height: auto;
}

#tree .subtree img{
	opacity: 1;
}

#tree .subtree-root{
	text-align: center;
	padding: 0;
	height: 10em;
}

#tree .subtree-root p{
	margin-bottom: 0;
	margin-top: 0.1em;
}

#tree .face img{
	transition: background-color 0.3s, opacity 0.3s, border 0.3s;
	border: 1px solid black;
	border-radius: 3px;
}

#tree .face:hover{
	cursor: pointer;
}
#tree .face:hover p{
	color: #028;
}



#tree .subtree-root span{
	display: inline-block;
}

#tree .subtree:not(.shaded){	
	background: #EEF;
}

#tree .subtree .up-arrow{
	margin-bottom: 1em;
	margin: 10px;
	border: 1px solid rgba(0,0,0,0);
	padding: 2px;
}

#tree .up-arrow:hover{
	cursor: pointer;
	margin: 7px;
	border: 1px solid gray;
	border-radius: 20px; 
	width: 32px; /* 26 (original) + 3 + 3 (margin decrease) */
}

#tree .subtree.shaded > .subtree-root .face img{
    background-color: black;
    opacity: .5;
    border: 1px solid #999;
}

#tree .subtree.shaded{
	color: #BBB;
}







.generations-2{
	font-size: 1em;
}
.generations-2 .face img{
	width: 80px;
	height: 80px;
}
.generations-2 .subtree{
	margin-top: 3em;
}


.generations-3{
	font-size: 0.8em;
}
.generations-3 .face img{
	width: 60px;
	height: 60px;
}
.generations-3 .subtree{
	margin-top: 2em;
}


.generations-4{
	font-size: 0.6em;
}
.generations-4 .face img{
	width: 40px;
	height: 40px;
}








#mini-tree{
	margin-top: 4em;
	text-align: center;
	border: 1px solid gray;
}

#mini-tree > .subtree{
	display: inline-block;
}

#mini-tree .subtree{
	display: table-cell;
	transition: all 0.3s;
	padding: 0.1em 0.2em 0.1em 0.2em;
}

#mini-tree .leaf{
	padding: 0;
}

#mini-tree .leaf .subtree-root{
	height: auto;
}

#mini-tree .subtree-root{
	text-align: center;
	padding: 0;
	height: 2em;
}

#mini-tree .subtree-root span{
	display: inline-block;
}

#mini-tree .mini-face{
	margin: 1px;
	width: 3px;
	height: 3px;
	background: #CCC;
	border: 1px solid rgba(0,0,0,0);
	
}



#mini-tree .mini-face.shown:not(.selected):not(:hover){
	background: #F55;
	border: 1px solid gray;
}

#mini-tree .mini-face:hover{
	cursor: pointer;
	margin: 0px;
	width: 5px;
	height: 5px;
	background: #8BF;
	border: 1px solid black;
}

#mini-tree .mini-face.selected{
	background: #3F3;
	width: 5px;
	height: 5px;
	margin: 0px;
	border: 1px solid black;
}











#portrait-section{
	margin-top: 4em;
	text-align: center;
}

.portrait{
	border: 1px solid gray;
	border-radius: 80px;
	width: 160px;
	height: 160px;
}



.searchbar-suggestion img{
	width: 40px;
	height: 40px;
}

.searchbar-suggestion span{
	font-size: 0.75em;
	display: inline-block;
}